@import url('../fonts/MaterialIcons/material-icons.css');
@import url('../fonts/Roboto/roboto.css');

section:nth-of-type(1) .background { background-image: url(../assets/img/background/gray.jpg);}
section:nth-of-type(2) .background { background-image: url(../assets/img/background/blue.jpg);}

@supports (-webkit-appearance:none){ 
    section:nth-of-type(1) .background { background-image: url(../assets/img/background/gray.webp);}
    section:nth-of-type(2) .background { background-image: url(../assets/img/background/blue.webp);}
} 